/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #16a085;
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: #363636;
}



p {
  line-height: 190%;
}





.action-button
{
  position: relative;
  padding: 5px 20px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 5px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
}

.blue
{
  background-color: #3498DB;
}

.red
{
  background-color: #E74C3C;
}


.green
{
  background-color: #82BF56;
}

.yellow
{
  background-color: #F2CF66;
}

.pink
{
  background-color: #F433FF;
}

















